
h1 {
	text-align: center;
    font-size: 1.5em;
    font-weight: normal;
	font-family: Arial;
    color: white;
    background-color: #0990EE;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

h2 {
	text-align: center;
    font-size: 1em;
    font-weight: normal;
	font-family: Arial;
    color: white;
    background-color: #0990EE;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	border-radius: 15px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

th, td
{
  padding: 5px;
}

.menu li
{
    margin-top: 15px;
}

a.menu, a.menu:visited {
	text-align: left;
    text-decoration: none;
    color: blue;
    font-size: 1em;
    font-weight: bold;
	font-family: Arial;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.menu:hover {
	text-align: left;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
	font-family: Arial;
    color: white;
    background-color: #0990EE;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
